<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated AlgorithmeTable -->
      <package
            uri="http://algorithme_table"
            class="AlgorithmeTable.AlgorithmeTablePackage"
            genModel="AlgorithmeTable.genmodel"/>
   </extension>

</plugin>
