<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated algorithms -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="algorithms.presentation.AlgorithmsModelWizardID"
            name="%_UI_AlgorithmsModelWizard_label"
            class="algorithms.presentation.AlgorithmsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AlgorithmsModelFile.gif">
         <description>%_UI_AlgorithmsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated algorithms -->
      <editor
            id="algorithms.presentation.AlgorithmsEditorID"
            name="%_UI_AlgorithmsEditor_label"
            icon="icons/full/obj16/AlgorithmsModelFile.gif"
            extensions="algorithms"
            class="algorithms.presentation.AlgorithmsEditor"
            contributorClass="algorithms.presentation.AlgorithmsActionBarContributor">
      </editor>
   </extension>

</plugin>
