<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/algorithme/algo/Algo"
			class = "org.xtext.algorithme.algo.algo.AlgoPackage"
			genModel = "model/generated/Algo.genmodel" />
	</extension>
</plugin>
